body {
    font-family: 'Arial', sans-serif;
    width: 300px;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    background-color: #f9f9f9;
    color: #333;
}

h1 {
    color: #81c784; /* Darker pastel green */
    font-size: 1.75em;
    margin-bottom: 20px;
    border-bottom: 2px solid #81c784; /* Darker pastel green */
    padding-bottom: 10px;
}

.nav-link {
    margin-bottom: 20px;
}

.nav-link a {
    font-size: 1em;
    color: #81c784; /* Darker pastel green */
    text-decoration: none;
    border-bottom: 1px solid #81c784; /* Darker pastel green */
    padding-bottom: 5px;
    transition: color 0.3s, border-color 0.3s;
}

.nav-link a:hover {
    color: #66bb6a; /* Slightly darker pastel green */
    border-color: #66bb6a; /* Slightly darker pastel green */
}
